input:hover {
    background-color: rgb(255, 255, 125);
}

.body {
    background-color: rgb(88, 88, 88);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 95%;
    font-size: 350%;
}

.title_m {
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 95%;
    font-size: 140%;
}

.story_cover {
    padding-top: 3%;
    width: 20%;
    height: 20%;
}

.story_cover_m {
    padding-top: 7%;
    width: 70%;
    height: 70%;
}

.default_cover {
    width: 100%;
    height: 100%;
}

.story_btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-width: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 30%;
    line-height: 95%;
    font-size: 200%;
    margin-top: 1%;
}


.story_btn_m {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-width: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 95%;
    width: 80%;
    font-size: 140%;
    margin-top: 2%;
}